Repository makerdao/community, pull requests merged in 2019-07, with the labels that each got.

#94 Chinese translation
  SUMMARY.md
  faqs/zh/cdp.md
  faqs/zh/dai.md
  faqs/zh/governance.md
  faqs/zh/liquidation.md
  faqs/zh/stability-fee.md
  meetups/assets/slides/CBS Maker.pptx
Labels: translations

#128 Create keepers.md
  faqs/keepers.md
Labels: FAQs

#129 added Keepers.md to FAQ en list
  SUMMARY.md
Labels: FAQs

#130 added Keepers section
  faqs/README.md
Labels: FAQs

#135 Create episode-42.md
  governance/governance-and-risk-meetings/summaries/episode-42.md
Labels: governance

#136 added Episode 42: Jul 04, 2019
  SUMMARY.md
Labels: transcripts

#140 new README page
  meetups/README.md
Labels: meetups, portal

#141 Create requesting-funds.md
  meetups/requesting-funds.md
Labels: meetups, portal

#142 Create getting-started-guide.md
  meetups/getting-started-guide.md
Labels: meetups, portal

#143 Create event-formats-guide.md
  meetups/event-formats-guide.md
Labels: meetups, portal

#144 Create promotion-guide.md
  meetups/promotion-guide.md
Labels: meetups, portal

#145 Create budget-guide.md
  meetups/budget-guide.md
Labels: meetups, portal

#146 Create diy-meetups-faq.md
  meetups/diy-meetups-faq.md
Labels: meetups, portal

#149 Create translators-quick-start-guide.md
  translations/translators-quick-start-guide.md
Labels: portal, translations

#148 Uploaded Translations Initiative landing page
  translations/README.md
Labels: portal, translations

#150 Create editor-quick-start-guide.md
  translations/editor-quick-start-guide.md
Labels: portal, translations

#151 Create translation-initiative-faq.md
  translations/translation-initiative-faq.md
Labels: portal, translations

#153 Add first version of Governance and Risk Meeting: Ep. 42 transcription
  SUMMARY.md
  governance/governance-and-risk-meetings/transcripts/episode-41.md
  governance/governance-and-risk-meetings/transcripts/episode-42.md
Labels: transcripts

#185 Remove reference to unfinished paper
  risk/collateral-onboarding-guide.md
Labels: portal, risk

#196 Create episode-43.md
  governance/governance-and-risk-meetings/summaries/episode-43.md
Labels: governance, risk

#197 added Episode 43
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal, risk

#201 Update with new README
  hackathons/README.md
Labels: bounties and hackathons, portal

#202 Create developer-quick-start-guide.md
  hackathons/developer-quick-start-guide.md
Labels: bounties and hackathons, portal

#205 added link to contributing README.md in the header
  README.md
Labels: contributing, portal

#194 replaces period for a colon
  translations/README.md
Labels: editing, portal

#203 Create organizer-quick-start-guide.md
  hackathons/organizer-quick-start-guide.md
Labels: bounties and hackathons, portal

#204 Create README.md
  contributing/README.md
Labels: contributing, portal

#207 added pages for Hackathons section & README for the Contributing section
  SUMMARY.md
Labels: bounties and hackathons, contributing, editing, portal

#208 Update collateral-onboarding-guide.md
  risk/collateral-onboarding-guide.md
Labels: risk

#209 Made minor changes to word choice
  contributing/README.md
Labels: editing, portal

#212 Add first version of Governance and Risk Meeting: Ep. 43 transcription
  governance/governance-and-risk-meetings/transcripts/README.md
  governance/governance-and-risk-meetings/transcripts/episode-43.md
Labels: transcripts

#218 Create episode-44.md
  governance/governance-and-risk-meetings/summaries/episode-44.md
Labels: governance

#220 Added G&R Meeting summary for Ep. 44
  SUMMARY.md
Labels: governance, portal

#228 Updated style-guide to latest hackmd version in issue #211
  contributing/style-guide.md
Labels: editing, portal

#229 Minor change - added link for style guide
  contributing/README.md
Labels: editing, portal

#219 Added episode 44, relative links still seem to be broken for this eve…
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#235 Create v1 of faq.md for the Hackathons Section
  hackathons/faq.md
Labels: bounties and hackathons, portal

#234 Added contributor and hackathon faq docs to Summary.md
  SUMMARY.md
Labels: portal

#233 Create v1 of the Contributor FAQ
  contributing/faq.md
Labels: contributing, portal

#232 Andrew Burban's edits (wording) + added "MakerDAO: Help Wanted" link
  contributing/README.md
Labels: contributing, portal

#230 Updated style-guide "good link" "bad link"
  contributing/style-guide.md
Labels: editing, portal

#241 added requirement to mention and direct people to community development, also added our email for support
  meetups/requesting-funds.md
Labels: meetups, portal

#245 Create episode-45.md
  governance/governance-and-risk-meetings/summaries/episode-45.md
Labels: governance

#246 added Episode 45
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance

#247 added Governance Summary, episode 45
  SUMMARY.md
Labels: governance, portal

#239 added Governance FAQ as a subnav item in the Governance section
  SUMMARY.md
Labels: governance, portal

#161 Fixed first sentence, some grammar, periods
  meetups/README.md
Labels: editing, portal

#160 Fixed minor spelling, word choice, grammar
  translations/README.md
Labels: editing, portal

#255 updated airtable link, previous was incorrect
  meetups/README.md
Labels: meetups, portal
