Repository makerdao/community, pull requests merged in 2019-09, with the labels that each got.

#287 added G&R Ep.50
  SUMMARY.md
Labels: governance, portal

#286 added Ep. 50
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#285 Create episode-50.md
  governance/governance-and-risk-meetings/summaries/episode-50.md
Labels: governance, portal

#289 Add first versions of Governance and Risk Meeting: Ep. 49 & 50 transcriptions
  governance/governance-and-risk-meetings/transcripts/README.md
  governance/governance-and-risk-meetings/transcripts/episode-49.md
  governance/governance-and-risk-meetings/transcripts/episode-50.md
Labels: transcripts

#292 added G&R ep.51
  SUMMARY.md
Labels: governance, portal

#291 added Ep.51
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#290 Create episode-51.md
  governance/governance-and-risk-meetings/summaries/episode-51.md
Labels: governance, portal

#294 Removed the I... section as it had a mistake and just looks messy. Ap…
  meetups/README.md
Labels: meetups, portal

#295 added no use of escaping parentheses
  contributing/style-guide.md
Labels: contributing, editing

#297 Create episode-52.md
  governance/governance-and-risk-meetings/summaries/episode-52.md
Labels: governance, portal

#298 added Ep.52 G&R meeting
  SUMMARY.md
Labels: governance, portal

#303 Create episode-53.md
  governance/governance-and-risk-meetings/summaries/episode-53.md
Labels: governance, portal

#305 added Ep.53 of the G&R meeting
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#304 added G&R ep.53 summary
  SUMMARY.md
Labels: governance, portal

#307 Add first version of Governance and Risk Meeting: Ep. 53 transcription
  governance/governance-and-risk-meetings/transcripts/README.md
  governance/governance-and-risk-meetings/transcripts/episode-53.md
Labels: transcripts
