Repository makerdao/community, pull requests merged in 2019-11, with the labels that each got.

#353 rename file, remove space after year
  governance/votes/Executive vote - August 30, 2019.md
Labels: editing

#351 Revamp of the Landing page. Structure is the same, a lot of updates to the language better aligning it with the vision of the program
  meetups/README.md
Labels: meetups

#345 added episode 59 of G&R
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance

#344 added episode 59 of G&R meeting
  SUMMARY.md
Labels: governance

#343 Create episode-59.md
  governance/governance-and-risk-meetings/summaries/episode-59.md
Labels: governance

#342 added Capitalization rules, moved naming conventions and proper nouns…
  contributing/style-guide.md
Labels: contributing

#366 Publish Episode 60 of Governance and Risk Meeting
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-60.md
Labels: governance, portal

#371 fixed relative links
  faqs/README.md
  faqs/emergency-shutdown.md
  faqs/liquidation.md
  faqs/oracles.md
  faqs/stability-fee.md
  faqs/vault.md
Labels: portal

#372 fix so it displays normally in gitbooks.
  faqs/dsr.md
Labels: FAQs, portal

#373 fixed broken links
  scd-faqs/README.md
Labels: FAQs, portal

#380 Submitting Ep 61 of Governance and Risk meeting
  governance/README.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-61.md
Labels: governance, portal

#381 Adds notices to all scd FAQs, the Glossary, and the Readme.md
  scd-faqs/README.md
  scd-faqs/cdp.md
  scd-faqs/dai.md
  scd-faqs/emergency-shutdown.md
  scd-faqs/glossary.md
  scd-faqs/governance.md
  scd-faqs/keepers.md
  scd-faqs/liquidation.md
  scd-faqs/makerdao.md
  scd-faqs/oracles.md
  scd-faqs/risk-management.md
  scd-faqs/stability-fee.md
Labels: FAQs, portal

#382 Added Ep62 Governance and Risk
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-62.md
Labels: governance, portal
