Repository makerdao/community, pull requests merged in 2019-08, with the labels that each got.

#260 Add first version of Governance and Risk Meeting: Ep. 46 transcription
  governance/governance-and-risk-meetings/transcripts/README.md
  governance/governance-and-risk-meetings/transcripts/episode-46.md
Labels: transcripts

#259 Added G&R Episode 46
  SUMMARY.md
Labels: governance, portal

#258 Added ep.46 G&R meeting summary
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance

#257 Create episode-46.md
  governance/governance-and-risk-meetings/summaries/episode-46.md
Labels: governance

#265 Adding Resources header for the initial split of these landing page items
  README.md
Labels: portal

#263 Spanish (2 files) + Korean (5 files) take 2
  SUMMARY.md
  faqs/es/glossary.md
  faqs/es/risk-management.md
  faqs/ja/emergency-shutdown.md
  faqs/ja/glossary.md
  faqs/ja/makerdao.md
  faqs/ja/oracles.md
  faqs/ja/risk-management.md
  faqs/ko/emergency-shutdown.md
  faqs/ko/glossary.md
  faqs/ko/makerdao.md
  faqs/ko/oracles.md
  faqs/ko/risk-management.md
Labels: Korean, Spanish, translations

#270 Create episode-47.md
  governance/governance-and-risk-meetings/summaries/episode-47.md
Labels: governance, portal

#271 added Ep.47
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#272 added Ep.47 G&R summary
  SUMMARY.md
Labels: governance, portal

#274 Add first version of Governance and Risk Meeting: Ep. 47 transcription
  governance/governance-and-risk-meetings/transcripts/README.md
  governance/governance-and-risk-meetings/transcripts/episode-47.md
Labels: transcripts

#279 Added G&R Ep. 48
  SUMMARY.md
Labels: governance, portal

#278 added G&R Meeting Ep.48
  governance/governance-and-risk-meetings/summaries/README.md
Labels: governance, portal

#277 Create episode-48.md
  governance/governance-and-risk-meetings/summaries/episode-48.md
Labels: governance, portal

#251 grammar fix, add colon instead of comma + wording fix and missing ")" fix
  contributing/README.md
Labels: portal
