Repository makerdao/community, pull requests merged in 2020-03, with the labels that each got.

#450 added Ep 75 summary and link fixes
  SUMMARY.md
  faqs/mkr-token.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-75.md
Labels: governance, portal

#453 add Ep76 G&R
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-73.md
  governance/governance-and-risk-meetings/summaries/episode-76.md
Labels: governance

#454 Release Vault Onboarding Guide
  SUMMARY.md
  onboarding/README.md
  onboarding/vault-onboarding.md
Labels: education and onboarding, portal

#458 Ep77 Governance and Risk summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-77.md
  meetups/README.md
  meetups/requesting-funds.md
Labels: governance, portal

#457 COVID-19 Meetup Funding Halted notice
  meetups/README.md
  meetups/requesting-funds.md
Labels: meetups

#464 ep78 summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-78.md
Labels: governance

#462 Updated Hackathons Halt Banner for Organizer's Page
  hackathons/organizer-quick-start-guide.md
Labels: hackathons

#461 Updated Hackathons ReadME Halt Banner
  hackathons/README.md
Labels: hackathons

#465 GnR ep79 summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-79.md
Labels: governance

#467 Governance and Risk ep 80 summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-80.md
  onboarding/voter-onboarding.md
Labels: governance

#473 image name change
  contributing/CDIP-Contributor-highlights.jpg
Labels: CDIP, bug

#474 Ep 81 summary plus
  SUMMARY.md
  contributing/gnr-summary-template.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-81.md
Labels: contributing, governance, portal

#487 Ep83 GnR summary published
  SUMMARY.md
  contributing/gnr-summary-guide.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-82.md
  governance/governance-and-risk-meetings/summaries/episode-83.md
Labels: governance

#483 Release gnr summary guide
  SUMMARY.md
  contributing/gnr-summary-guide.md
Labels: contributing, governance
