Repository makerdao/community, pull requests merged in 2020-05, with the labels that each got.

#542 Liquidation and Vault FAQ updates as a result of community input
  SUMMARY.md
  faqs/README.md
  faqs/liquidation.md
  faqs/vault.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-90.md
Labels: FAQs

#541 add ep 90 GnR summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-90.md
Labels: governance

#545 added summary of ep91 GnR
  governance/governance-and-risk-meetings/summaries/episode-91.md
Labels: governance

#549 add updated general makerdao faq
  SUMMARY.md
  faqs/README.md
  faqs/makerdao.md
Labels: FAQs

#551 Added a vote to change the stability fee structure
  governance/polls/Proposal - Change the Stability Fee Structure - May 18 2020.md
Labels: governance

#550 added getting started to gnr summary guide
  contributing/gnr-summary-guide.md
  contributing/gnr-summary-template.md
Labels: contributing, governance

#553 Update README.md to fix governance faq questions being struckthrough
  faqs/README.md
Labels: FAQs

#554 add Ep93 GnR Meeting summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-93.md
Labels: governance

#558 GnR Ep94 summary Release and Ep 93 fix
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-93.md
  governance/governance-and-risk-meetings/summaries/episode-94.md
Labels: governance
