Repository makerdao/community, pull requests merged in 2020-04, with the labels that each got.

#482 Create reviewer-guide
  contributing/reviewer-guide.md
Labels: contributing

#489 Updated Governance FAQ release + fixed cross-links
  SUMMARY.md
  faqs/README.md
  faqs/dsr.md
  faqs/emergency-shutdown.md
  faqs/governance.md
  faqs/mkr-token.md
  faqs/oracles.md
  faqs/vault.md
  governance/README.md
  governance/meeting-schedule.md
  onboarding/voter-onboarding.md
Labels: FAQs, governance

#491 Added IRV Ranked Choice Voting poll
  governance/polls/Proposal - Add IRV Ranked Choice Voting to Governance Polls.md
Labels: governance

#494 added ep84 GnR summary
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-84.md
Labels: governance, portal

#490 Gnr summary guide update & attempted CDIP explainer pagefix
  contributing/cdip-contributor-highlights.jpg
  contributing/cdip-explainer.md
  contributing/gnr-summary-guide.md
  contributing/gnr-summary-template.md
Labels: CDIP, governance

#498 Updated README as V2
  contributing/README.md
Labels: contributing

#497 Create earn-as-a-contributor
  contributing/earn-as-a-contributor.md
Labels: contributing

#488 Update and rename style-guide.md to writing-style-guide.md
  contributing/style-guide.md
  contributing/writing-style-guide.md
Labels: contributing

#511 Updated FAQ
  contributing/faq.md
Labels: FAQs, contributing, portal

#513 Update writing-style-guide.md
  contributing/writing-style-guide.md
Labels: contributing, enhancement, portal

#520 Adjust Governance Security Module 04-20-20
  governance/polls/Adjust the Governance Security Module 04-20-20.md
Labels: governance

#524 educational and reference documentation process image for onboarding guide
  contributing/educational-reference-documentation-process.jpg
Labels: contributing

#519 Created contributor onboarding guide
  contributing/contributor-onboarding-guide.md
Labels: contributing

#515 Update writing-style-guide.md
  contributing/writing-style-guide.md
Labels: contributing

#531 added ep 85 and 88 summaries
  SUMMARY.md
  governance/governance-and-risk-meetings/summaries/README.md
  governance/governance-and-risk-meetings/summaries/episode-85.md
  governance/governance-and-risk-meetings/summaries/episode-88.md
Labels: governance
