Repository makerdao/community, pull requests merged in 2022-09, with the labels that each got.

#1937 add 2022-09-07 exec
  governance/votes/Executive vote - September 7, 2022.md
Labels: executive

#1945 exec copy for 2022-09-14
  governance/votes/Executive vote - September 14, 2022.md
Labels: executive

#1950 Polls 2022 09 12
  governance/polls/Ratification Poll for Amend Measurement Period For Delegate Participation Metrics (MIP4c2-SP24) - September 12, 2022.md
  governance/polls/Ratification Poll for Delegate MIP Set - September 12, 2022.md
  governance/polls/Ratification Poll for MKR Compensation for StarkNet Engineering Core Unit, SNE-001 (MIP40c3-SP79) - September 12, 2022.md
  governance/polls/Ratification Poll for Modify GovAlpha Core Unit MKR Budget (MIP40c3-SP80) - September 12, 2022.md
  governance/polls/Ratification Poll for Special Purpose Fund for The Ambassador Program (MIP55c3-SP7) - September 12, 2022.md
  governance/polls/Ratification poll for Strategic Happiness Core Unit (SH-001) Offboarding (MIP39c2-SP2) - September 12, 2022.md
Labels: polls

#1962 exec copy 2022-09-28
  governance/votes/Executive Vote - September 28, 2022.md
Labels: executive

#1963 update 2022-09-28 exec copy
  governance/votes/Executive Vote - September 28, 2022.md
Labels: High Priority, executive

#1964 Polls 2022 09 26
  governance/polls/Collateral Auction Parameter Updates - September 26, 2022.md
  governance/polls/rETH Onboarding Parameter Updates - September 26, 2022.md
Labels: polls

#1966 Add flat kick incentive changes to poll
  governance/polls/Collateral Auction Parameter Updates - September 26, 2022.md
Labels: polls

#1973 Exec Copy 2022-10-05
  governance/votes/Executive vote - October 5, 2022.md
Labels: executive
