Repository makerdao/community, pull requests merged in 2022-10, with the labels that each got.

#1977 Polls 2022 10 03
  governance/polls/Approve Multisig for Management of Velodrome NFT - October 3, 2022.md
  governance/polls/MIP9 Community Greenlight Poll - ANCHORAGE - October 3, 2022.md
  governance/polls/PPG - Open Market Committee Proposal - October 3, 2022.md
Labels: polls

#1976 Velodrome Poll
  governance/polls/Approve Multisig for Velodrome NFT - October 3, 2022.md
Labels: polls

#1985 Create Executive vote - October 12, 2022.md
  governance/votes/Executive vote - October 12, 2022.md
Labels: executive

#1993 Create Executive vote - October 19, 2022.md
  governance/votes/Executive vote - October 19, 2022.md
Labels: High Priority, executive

#1998 CalBlockchain Delegate Profile
  governance/delegates/0x8F5B93378d59E35799573530A9860597e14b7178/avatar.jpg
  governance/delegates/0x8F5B93378d59E35799573530A9860597e14b7178/profile.md
Labels: delegates

#2015 Add ConsenSys as a Recognized Delegate
  governance/delegates/0x40f784B16b2D405eFD4E9eB7d0663398D7d886FB/avatar.jpeg.jpg
  governance/delegates/0x40f784B16b2D405eFD4E9eB7d0663398D7d886FB/metrics.md
  governance/delegates/0x40f784B16b2D405eFD4E9eB7d0663398D7d886FB/profile.md
Labels: delegates

#2012 Exec November 2: Draft
  governance/votes/Executive vote - November 2, 2022.md
Labels: High Priority, executive

#2018 2022 10 31 polls
  governance/polls/Activate Liquidations for Stablecoin Vaults to Clear Bad Debt - October 31, 2022.md
  governance/polls/One Month Budget Extension for Strategic Happiness Core Unit - October 31, 2022.md
  governance/polls/PPG - Open Market Committee Proposal - October 31, 2022.md
Labels: polls
