Repository makerdao/community, pull requests merged in 2023-03, with the labels that each got.

#2136 2023-03-08 exec copy
  governance/votes/Executive vote - March 8, 2023.md
Labels: Executive

#1980 Add Generic Approval Voting Templates
  governance/polls/templates/Generic/$GenericApprovalWithMajority - $date_MONTH_DD,_YYYY.md
  governance/polls/templates/Generic/$GenericApprovalWithoutMajority - $date_MONTH_DD,_YYYY.md
  governance/polls/templates/Generic/Vote Type Descriptors.md
Labels: High Priority, polls, Templates, Approval Voting

#2158 add polls
  governance/polls/Increase the GSM Delay to 48 Hours - March 27, 2023.md
  governance/polls/Onboard Phoenix Labs as an Incubating Ecosystem Actor - March 27, 2023.md
  governance/polls/Onboard Sidestream as an Incubating Ecosystem Actor - March 27, 2023.md
  governance/polls/Onboard Viridian Protector Advisory Company as an Incubating Ecosystem Actor - March 27, 2023.md
  governance/polls/Onboard dewiz as an Incubating Ecosystem Actor - March 27, 2023.md
Labels: polls
